---
import Layout from '../layouts/Layout.astro';
import EmailInput from "../components/EmailInput.astro"
import SingleInput from "../components/SingleInput.astro"
import DynamicInput from '../components/DynamicInput.astro'
import type { Code } from 'astro:components';

const title = 'Formali Demo'

const formSettings = [
  {
    block: 'description',
    settings: {
      title: 'גלו מה formali יכול לעשות עבורכם',
      description: 'מערכת טפסים דיגיטליים בקליק',
      buttonText: 'תראו לי'
    },
    design: {}
  },
]

const sampleForm = [
  {
    type: 'email',
    label: 'לאיזה אימייל תרצו שנשלח לכם הודעה?',
    subLabel: 'שורת תיאור נוספת, ניתן להשאירה ריקה.',
    placeholder: 'name@example.com',
    required: true,
  },
  {
    type: 'text',
    label: 'רשמו את שמכם הפרטי',
    subLabel: '',
    placeholder: 'גדעון בן יואש',
    required: true,
  },
  {
    type: 'select', 
    label: 'אלו מבין האפשרויות הכי תואם אתכם?',
    subLabel: 'בחרו אפשרות אחת בלבד',
    option: [
      "חיפשתי בול מערכת כזו! פשוט תקחו את הכסף שלי.",
      "נראה חמוד, לא בטוח שיש לי צורך במערכת כרגע",
      "פחות מתחבר לי כל העניין",
      "לא!"
  ],
    required: false,
  },
]

const sample = {
  welcome: {
    title: 'ברוכים הבאים, תודה על זמנכם.',
    subtitle: 'מילוי הטופס יקח רק 5 דקות מזמנכם ויעזור לנו באופן משמעותי בקידום ודיוק המערכת שלנו.',
    buttonText: 'התחל'
  },
  fields: sampleForm,
  ending: {
    title: 'תודה ששיתפתם פעולה איתנו!',
    subtitle: 'נשמח לשמוע מכם שוב.                    ',
    buttonText: 'התחל'
  }
}

const uniqueFormId = (field, idx) => field + '_' + idx


    // {
    //   sampleForm.map(field => (
    //     <div class="flex flex-col gap-4 mt-6 hidden">
    //       <DynamicInput {...field} />
    //     </div>
    //   ))
    // }

---
<Layout title={title} >
  <div id="full-screen" class="max-h-screen overflow-y-scroll snap snap-y snap-mandatory">

    <form x-data="data">
      <template x-for="(field, index) in formFields" :key="index">
        <div class="flex flex-col gap-4 mt-6">
          <template x-if="field.type == 'email'">
            <EmailInput />
          </template>
          <input class="" :type="field.type" :id="field.type + '_' + index" value="" />
        </div>
      </template>
    </form>

    <form dir="rtl" x-data="{}" @submit.prevent="" class="hidden">
      {
      formSettings.map(formEl => {
        return (
          <section 
            class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-orange-100 text-center">

                <div class="flex flex-col gap-8 items-center">
            {
              formEl.block === 'description' 
            && (
                  <h2 class="text-60px max-w-xl font-bold leading-tight">{formEl.settings.title}</h2>
                  <p>{formEl.settings.description}</p>
                  <button class="w-36 bg-purple-700 font-bold px-6 py-2 rounded-lg text-white">{formEl.settings.buttonText}</button>
              )
                  || (
                    <label class="text-lg " for="">{formEl.settings.label}</label>
                  )
            }
                </div>
          </section>
        )
      })
      }

          <section 
            class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-orange-100">
              <div class="flex flex-col gap-8 items-center">
                <SingleInput heading='מה שמך הפרטי?' placeholder="ג׳ו ביידן" />
              </div> 
            </section>

          <section 
            class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-blue-400">
              <div class="flex flex-col gap-8 items-center">
                <SingleInput className='text-white' heading='שם הברה' placeholder="חברה בע״מ" />
              </div> 
            </section>


          <section 
            class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-indigo-100">

              <div class="flex flex-col gap-8 items-center">
                <EmailInput />
              </div> 
            </section>

          <section 
            class="flex items-center justify-center h-lvh snap-start w-full p-16 border-box bg-indigo-100">
              <div class="flex flex-col gap-8 items-center">
                  <h2 class="text-60px max-w-xl font-bold leading-tight">סיימנו!</h2>
                  <p>תודה רבה לכם על שיתוף הפעולה. עד כה, זוהי דוגמא קטנה וקצרה מאוד הממחישה רק חלק קטן מהיכולות החזקות של המערכת שלנו.</p>
              </div> 
            </section>


    </form>

  </div>
</Layout>


<script define:vars={{ sampleForm }}>
  import Alpine from 'alpinejs'

  document.addEventListener('alpine:init', () => {
    Alpine.data('data', () => ({
      msg: "Hello",
      formFields: sampleForm,
    }))
  })

</script>